[Unit]
Description=Job that runs the mamer daemon
After=chessd.service

[Service]
Type=simple
WorkingDirectory=/usr/local/chessd/mamer
ExecStart=/usr/local/chessd/mamer/mamer
Restart=always

[Install]
WantedBy=default.target
