HOST            127.0.0.1
PORT            5000
CHAN            49
DBUG            5
HOME            /usr/local/chessd/mamer
DATA            /usr/local/chessd/mamer/data
HELP            /usr/local/chessd/mamer/help
UDB             /usr/local/chessd/mamer/players
LOG             /usr/local/chessd/mamer/logs/mamer
USER            mamer
PASS            jammer
